* {
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;   
    background: linear-gradient(90deg, rgba(255,200,0,1) 0%, rgba(255,125,0,1) 50%, rgba(255,75,0,1) 100%);
  }
  
  input {
    background-color: rgba(255,225,0,.5);
    height: 100%;
    width: 100%;
    text-indent: 5px;
    border-color: rgba(255,75,0,1);
  }
  
   .search-container {
    width: 300px;
    height: 40px;
  }

  .search-container .suggestions {
    position: relative;
    background-color: rgba(255,225,0,.5);
    overflow-y: scroll;
    cursor: pointer; 
  }

 .suggestions::-webkit-scrollbar-thumb {
  background-color: rgba(255,75,0,1);
 }

 .suggestions::-webkit-scrollbar {
  width: 15px; 
 }
 
  ul {
    padding: 0px;
    margin: 0px;
    max-height: 200px;
  }

  ul li {
    bottom: 0px;
    display: flex;
    height: 40px;
    text-indent: 5px;
  }

  ul li:hover {
    background-color: rgba(255,75,0,1);
  }
  